<a href="https://colab.research.google.com/github/nurfnick/Cantrell_Jackson/blob/master/CombineFiles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pa
import numpy as np

In [0]:
urls = ['https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/hs_customer_18_p1.csv', 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/hs_customer_18_p2.csv', 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/hs_customer_18_p3.csv']

In [61]:
df1 = pa.read_csv(urls[0])
df2 = pa.read_csv(urls[1])
df3 = pa.read_csv(urls[2])

print('df1')
print(df1)

for line in df2:
  list1 = []
  for row in df2:
    list1.append(row)
  df = pa.DataFrame([list1])
  ndf2 = ndf2.append(df)

print(ndf2)
df1.append(ndf2)

print(df1)

#ndf = df1
#print('First!')
#print(ndf)

#for line in df3:
#  list2 = []
#  for row in df3:
#    list2.append(row)
#  tdf = pa.DataFrame(list2)
#  ndf.append(tdf)

#print('Second!')
#print(ndf)


#df4 = df1.append(df2)
#combined = df4.append(df3)

#combined

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

df1
        265778  18     845  ...  1555360009  job_description   842
0       265778  18   845.0  ...  1555360009            truck  3222
1       265778  18   845.0  ...  1555360009        bill_bbls    80
2       265778  18   845.0  ...  1555360009       bill_hours     3
3       265778  18   845.0  ...  1555360009        bill_type     2
4       265778  18   845.0  ...  1555360009   price_per_hour   115
...        ...  ..     ...  ...         ...              ...   ...
284543  283251  18  4023.5  ...  1557912849        bill_type     1
284544  283251  18  4023.5  ...  1557912991        bill_type     1
284545  283251  18  4023.5  ...  1557913014        bill_type     1
284546  283251  18  4023.5  ...  1557939494        bill_type     1
284547  283251  18  4023.5  ...  1557940493        bill_type     1

[284548 rows x 9 columns]

NameError: ignored

In [51]:
list1 = [1,2]
list2 = [3, 4]
df = pa.DataFrame([list1, list2])
df

df2 = pa.DataFrame([[5, 6], [7, 8]])
df.append(df2)

   0  1
0  1  2
1  3  4
0  5  6
1  7  8