<a href="https://colab.research.google.com/github/nurfnick/Cantrell_Jackson/blob/master/CombineFiles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pa
import numpy as np

In [0]:
urls = ['https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/hs_customer_18_p1.csv', 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/hs_customer_18_p2.csv', 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/hs_customer_18_p3.csv']

In [79]:
df1 = pa.read_csv(urls[0])
df2 = pa.read_csv(urls[1])
df3 = pa.read_csv(urls[2])

df4 = df1.append(df2, ignore_index=True)
combined = df4.append(df3, ignore_index=True)

combined

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

         1     1.3  11327.5  ...      bill_hours  bill_type  job_description
0      NaN     NaN      NaN  ...             NaN        NaN            truck
1      NaN     NaN      NaN  ...             NaN        NaN        bill_bbls
2      NaN     NaN      NaN  ...             NaN        NaN       bill_hours
3      NaN     NaN      NaN  ...             NaN        NaN        bill_type
4      NaN     NaN      NaN  ...             NaN        NaN   price_per_hour
...     ..     ...      ...  ...             ...        ...              ...
853645 NaN  1353.0   1944.6  ...           truck        NaN              NaN
853646 NaN   105.0   1944.6  ...   price_per_bbl        NaN              NaN
853647 NaN   105.0   1944.6  ...   price_per_bbl        NaN              NaN
853648 NaN   105.0   1944.6  ...  price_per_hour        NaN              NaN
853649 NaN   105.0   1944.6  ...  price_per_hour        NaN              NaN

[853650 rows x 23 columns]

In [0]:
pa.read_csv(urls[1])

li = []

combined_csv = li.append([pa.read_csv(urls[u]) for u in range(len(urls))])

combined_csv.to_csv( "combined_csv.csv")

combined = pa.read_csv('combined_csv.csv')

combined

#li = []

#df = pa.read_csv(url1)

#for u in range(len(urls)):
    #df = pa.read_csv(urls[u])
    #li.append(df)

#li