<a href="https://colab.research.google.com/github/nurfnick/Cantrell_Jackson/blob/master/cust5revenue.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pa
import numpy as np

In [0]:
url = 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/hs_customer_5_p1.csv'

In [0]:
df2= pa.read_csv('https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/hs_customer_5_p1.csv')

In [18]:
df2

        invoice_id  hs_customer  ...  ticket_item_type  details
0           195540            5  ...   job_description      NaN
1           195540            5  ...   job_description      NaN
2           180959            5  ...   job_description      NaN
3           180959            5  ...   job_description      NaN
4           180967            5  ...   job_description      NaN
...            ...          ...  ...               ...      ...
270885      240746            5  ...    price_per_hour      1.2
270886      240746            5  ...    price_per_hour      1.2
270887      240746            5  ...    price_per_hour      1.2
270888      240746            5  ...    price_per_hour      1.2
270889      240746            5  ...    price_per_hour      1.2

[270890 rows x 9 columns]

In [23]:
len(df2['hs_customer'])

270890

In [36]:
df2['invoice_total'][0]+df2['invoice_total'][1]

733.2

In [52]:
red = df2['invoice_total']
for red in df2:
  sum('invoice_total')

SyntaxError: ignored