<a href="https://colab.research.google.com/github/nurfnick/Cantrell_Jackson/blob/master/GettingStarted.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pa
import numpy as np

In [3]:
from google.colab import files
uploaded = files.upload()

Saving hs_customer_28.csv to hs_customer_28.csv

In [0]:
import io
df2 = pa.read_csv(io.BytesIO(uploaded['hs_customer_28.csv']))# Dataset is now stored in a Pandas Dataframe

In [7]:
df2

        invoice_id  hs_customer  ...  ticket_item_type  details
0           179889           28  ...   job_description      NaN
1           179904           28  ...   job_description      NaN
2           179889           28  ...   job_description      NaN
3           179892           28  ...   job_description      NaN
4           179918           28  ...   job_description      NaN
...            ...          ...  ...               ...      ...
240618      337944           28  ...        bill_loads      1.0
240619      337944           28  ...        bill_loads      1.0
240620      337945           28  ...        bill_loads      1.0
240621      337945           28  ...        bill_loads      1.0
240622      337945           28  ...        bill_loads      1.0

[240623 rows x 9 columns]

In [10]:
df2[df2['invoice_id']==179889] #only ids that are 179889

       invoice_id  hs_customer  ...  ticket_item_type  details
0          179889           28  ...   job_description      NaN
2          179889           28  ...   job_description      NaN
27         179889           28  ...   job_description      NaN
30         179889           28  ...   job_description      NaN
67         179889           28  ...   job_description      NaN
...           ...          ...  ...               ...      ...
79656      179889           28  ...    price_per_hour      0.8
79658      179889           28  ...    price_per_hour      0.8
92254      179889           28  ...         bill_type      2.0
93118      179889           28  ...     price_per_bbl     85.0
93840      179889           28  ...    price_per_hour     85.0

[175 rows x 9 columns]