<a href="https://colab.research.google.com/github/nurfnick/Cantrell_Jackson/blob/master/jacob_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pa
import numpy as np

In [0]:
url = 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/Support-Oct18-Sept19.csv'

In [37]:

df2 = pa.read_csv(url)
pa.set_option('display.max_rows', df2.shape[0]+1)
print(df2)

     Ticket ID  HS Customer  ... Agent interactions Customer interactions
0           35           18  ...                  1                     1
1           36           19  ...                  2                     1
2           44           20  ...                  1                     1
3           54           20  ...                  1                     1
4           55           23  ...                  1                     1
5           65           18  ...                  1                     1
6           71           18  ...                  0                     1
7           73           18  ...                  1                     1
8           75           18  ...                  1                     1
9           76           18  ...                  2                     1
10          82           15  ...                  0                     1
11          84           18  ...                  0                     1
12          85           18  ...                  2                     1
13          87           18  ...                  0                     1
14          89           15  ...                  1                     1
15          92           15  ...                  2                     2
16          97           20  ...                  1                     1
17         101           18  ...                  0                     2
18         102            5  ...                  1                     1
19         103           15  ...                  3                     4
20         104            4  ...                  0                     1
21         105           18  ...                  2                     1
22         106           21  ...                  1                     1
23         107            4  ...                  4                     1
24         111           20  ...                  0                     6
25         112           18  ...                  2                     1
26         114           18  ...                  1                     1
27         115           28  ...                  1                     1
28         116           25  ...                  2                     1
29         118           18  ...                  1                     1
30         120           10  ...                  0                     2
31         128           10  ...                  0                     1
32         129           15  ...                  3                     3
33         131           15  ...                  1                     2
34         133           10  ...                  2                     2
35         134           15  ...                  0                     1
36         138           18  ...                  1                     1
37         140            5  ...                  5                     6
38         141            5  ...                  0                     1
39         143           18  ...                  0                     1
40         145           18  ...                  2                     1
41         146           10  ...                  2                     3
42         147           10  ...                  1                     1
43         148           16  ...                  2                     2
44         149           18  ...                  1                     1
45         151           19  ...                  1                     1
46         152           16  ...                  2                     2
47         153           18  ...                  2                     1
48         154           18  ...                  0                     1
49         156           18  ...                  1                     1
50         157           18  ...                  0                     1
51         158           18  ...                  1                     1
52         159           10  ...                  1                     2
53         160           10  ...                  0                     1
54         161           28  ...                  0                     1
55         162           21  ...                  2                     1
56         163           10  ...                  0                     1
57         164           28  ...                  1                     2
58         166           15  ...                  1                     1
59         167           34  ...                  3                     1
60         168           18  ...                  0                     1
61         169            5  ...                  0                     1
62         172           26  ...                  1                     2
63         175           10  ...                  1                     2
64         176           18  ...                  3                     1
65         178            5  ...                  1                     1
66         181           24  ...                  1                     1
67         182           15  ...                  0                     1
68         183           18  ...                  0                     1
69         184           15  ...                  3                     2
70         186           21  ...                  2                     1
71         187           15  ...                  3                     2
72         188           28  ...                  1                     1
73         191           18  ...                  0                     3
74         194           18  ...                  0                     1
75         196           18  ...                  1                     1
76         198           26  ...                  1                     2
77         199           26  ...                  2                     2
78         200           26  ...                  1                     1
79         203           19  ...                  1                     1
80         205            5  ...                  2                     1
81         206           39  ...                  1                     2
82         208            5  ...                  1                     1
83         209           25  ...                  1                     1
84         211           25  ...                  1                     1
85         212           18  ...                  1                     1
86         217           18  ...                  2                     1
87         219           24  ...                  1                     1
88         220           18  ...                  3                     3
89         222           19  ...                  1                     1
90         225           37  ...                  1                     1
91         276           26  ...                  2                     4
92         286           26  ...                  1                     1
93         287           19  ...                  1                     1
94         318           25  ...                  1                     1
95         323           26  ...                  1                     1
96         325           28  ...                  2                     3
97         327           18  ...                  0                     1
98         328           18  ...                  1                     1
99         329           18  ...                  1                     1
100        330           18  ...                  0                     1
101        332           18  ...                  0                     1
102        334           24  ...                  1                     6
103        335           18  ...                  1                     1
104        339           21  ...                  0                     1
105        343           41  ...                  0                     1
106        351           18  ...                  0                     3
107        354            5  ...                  1                     1
108        358           37  ...                  2                     2
109        359           37  ...                  0                     1
110        360           37  ...                  0                     1
111        369           24  ...                  1                     1
112        370           21  ...                  0                    13
113        378           18  ...                  0                     1
114        425           25  ...                  1                     3
115        430           37  ...                  1                     3
116        431           28  ...                  0                     1
117        438           18  ...                  1                     1
118        440           37  ...                  1                     1
119        442           16  ...                  0                     1
120        444           18  ...                  0                     1
121        446           20  ...                  1                     2
122        448           37  ...                  1                     2
123        449           19  ...                  1                     4
124        450           37  ...                  0                     1
125        452           18  ...                 10                    10
126        455           15  ...                  3                     4
127        456            5  ...                  1                     2
128        457           34  ...                  2                     2
129        459           41  ...                  1                     3
130        496           41  ...                  0                     1
131        502           41  ...                  2                     3
132        764           41  ...                  4                     4
133        766           20  ...                  2                     3
134        768           18  ...                  1                     2
135        770           41  ...                  0                     1
136        771           19  ...                  0                     1
137        773           18  ...                  2                     2
138        774           18  ...                  3                     1
139        777           37  ...                  0                     1
140        778           40  ...                  2                     2
141        779           18  ...                  1                     1
142        780           18  ...                  1                     1
143        781           20  ...                  3                     3
144        782           28  ...                  4                     2
145        786           18  ...                  1                     1
146        787           16  ...                  0                     2
147        791           34  ...                  2                     2
148        792           41  ...                  0                     1
149        794           18  ...                  1                     1
150        795            4  ...                  4                     3
151        797           41  ...                  1                     2
152        799           41  ...                  2                     2
153        801           10  ...                  1                     2
154        802           24  ...                  2                     3
155        803           19  ...                  1                     2
156        804           41  ...                  0                     1
157        805           41  ...                  0                     1
158        806           18  ...                  1                     2
159        807           41  ...                  0                     1
160        814           20  ...                  1                     1
161        815           28  ...                  1                     1
162        816           37  ...                  1                     2
163        818           15  ...                  0                     1
164        819           18  ...                  1                     1
165        820           15  ...                  0                     2
166        821           18  ...                  0                     1
167        824           20  ...                  0                     7
168        825           20  ...                  2                     2
169        828           18  ...                  0                     1
170        829           18  ...                  4                     3
171        831           18  ...                  1                     2
172        833           25  ...                  0                     1
173        834           28  ...                  2                     1
174        836           19  ...                  0                     1
175        837           25  ...                  1                     1
176        838           25  ...                  1                     1
177        839           25  ...                  1                     1
178        840           18  ...                  2                     3
179        841           25  ...                  1                     2
180        842           25  ...                  1                     1
181        843           25  ...                  2                     2
182        844           25  ...                  1                     2
183        845           25  ...                  1                     2
184        848           20  ...                  1                     2
185        849           24  ...                  1                     1
186        851           20  ...                  0                     1
187        853           18  ...                  1                     1
188        854           18  ...                  1                     1
189        861           19  ...                  0                     1
190        862           18  ...                  2                     3
191        864           20  ...                  0                     1
192        871           18  ...                  2                     2
193        872           18  ...                  4                     3
194        873           26  ...                  0                     2
195        874           18  ...                  1                     2
196        876           18  ...                  1                     1
197        878           18  ...                  2                     3
198        879           18  ...                  1                     3
199        880           21  ...                  2                     3
200        884           18  ...                  2                     6
201        885           18  ...                  1                     1
202        888           18  ...                  5                     3
203        892           18  ...                  1                     1
204        895           18  ...                  1                     1
205        896           28  ...                  3                     2
206        897           18  ...                  1                     1
207        898           41  ...                  1                     2
208        899           18  ...                  0                     1
209        900           18  ...                  1                     1
210        901           18  ...                  1                     1
211        903           18  ...                  0                     1
212        905           18  ...                  0                     1
213        906           24  ...                  2                     1
214        907           18  ...                  0                     1
215        908           18  ...                  0                     1
216        909           18  ...                  1                     1
217        910           18  ...                  0                     1
218        911           18  ...                  1                     1
219        912           18  ...                  1                     1
220        913           18  ...                  1                     2
221        914           45  ...                  1                     2
222        915           45  ...                  0                     1
223        917           45  ...                  1                     1
224        918           18  ...                  1                     1
225        920           18  ...                  1                     1
226        921           18  ...                  1                     1
227        922           18  ...                  1                     1
228        924           18  ...                  0                     1
229        925           18  ...                  2                     2
230        926           18  ...                  2                     3
231        929           18  ...                  0                     1
232        930           18  ...                  0                     1
233        931           18  ...                  1                     1
234        932           18  ...                  1                     2
235        933           26  ...                  1                     1
236        934           18  ...                  1                     1
237        935           28  ...                  3                     3
238        936           18  ...                  1                     2
239        937           37  ...                  1                     2
240        940            5  ...                  0                     3
241        942           28  ...                  0                     2
242        944           18  ...                  3                     4
243        945           15  ...                  0                     2
244        946           15  ...                  1                     2
245        947           28  ...                  0                     1
246        948           20  ...                  5                     6
247        949           45  ...                  1                     2
248        950            5  ...                  2                     1
249        951           18  ...                  2                     1
250        953           18  ...                  0                     1
251        954           18  ...                  0                     1
252        955           18  ...                  0                     1
253        956           18  ...                  0                     1
254        957           18  ...                  0                     1
255        958           18  ...                  0                     1
256        959           18  ...                  1                     1
257        961           10  ...                  1                     2
258        962           45  ...                  0                     1
259        963            5  ...                  0                     1
260        965           16  ...                  1                     2
261        970           15  ...                  1                     3
262        971           15  ...                  1                     1
263        973            5  ...                  1                     1
264        974           18  ...                 13                    11
265        979           15  ...                  1                     2
266        982           18  ...                  1                     1
267        984           18  ...                  4                     2
268        985           45  ...                  0                     1

In [31]:
df2

     Ticket ID  HS Customer  ... Agent interactions Customer interactions
0           35           18  ...                  1                     1
1           36           19  ...                  2                     1
2           44           20  ...                  1                     1
3           54           20  ...                  1                     1
4           55           23  ...                  1                     1
..         ...          ...  ...                ...                   ...
279       1009           18  ...                  1                     1
280       1012           18  ...                  1                     3
281       1014           18  ...                  2                     3
282       1016           18  ...                  1                     2
283       1017           18  ...                  0                     3

[284 rows x 13 columns]

In [0]:
Weight =df2[df2['Weight']==3]

In [21]:
Weight

     Ticket ID  HS Customer  ... Agent interactions Customer interactions
0           35           18  ...                  1                     1
9           76           18  ...                  2                     1
13          87           18  ...                  0                     1
17         101           18  ...                  0                     2
22         106           21  ...                  1                     1
..         ...          ...  ...                ...                   ...
273        999           18  ...                  0                     2
274       1000           18  ...                  1                     1
277       1007           25  ...                  2                     2
278       1008           18  ...                  1                     2
282       1016           18  ...                  1                     2

[82 rows x 13 columns]

In [0]:
Weight2 =df2[df2['Weight']==2]

In [23]:
Weight2

     Ticket ID  HS Customer  ... Agent interactions Customer interactions
1           36           19  ...                  2                     1
4           55           23  ...                  1                     1
5           65           18  ...                  1                     1
6           71           18  ...                  0                     1
10          82           15  ...                  0                     1
..         ...          ...  ...                ...                   ...
249        951           18  ...                  2                     1
259        963            5  ...                  0                     1
265        979           15  ...                  1                     2
270        994           26  ...                  1                     1
272        997           10  ...                  1                     1

[70 rows x 13 columns]

In [0]:
Weight1 =df2[df2['Weight']==1]

In [25]:
Weight1

     Ticket ID  HS Customer  ... Agent interactions Customer interactions
2           44           20  ...                  1                     1
3           54           20  ...                  1                     1
7           73           18  ...                  1                     1
8           75           18  ...                  1                     1
19         103           15  ...                  3                     4
35         134           15  ...                  0                     1
63         175           10  ...                  1                     2
74         194           18  ...                  0                     1
81         206           39  ...                  1                     2
96         325           28  ...                  2                     3
97         327           18  ...                  0                     1
98         328           18  ...                  1                     1
99         329           18  ...                  1                     1
100        330           18  ...                  0                     1
101        332           18  ...                  0                     1
108        358           37  ...                  2                     2
109        359           37  ...                  0                     1
110        360           37  ...                  0                     1
131        502           41  ...                  2                     3
148        792           41  ...                  0                     1
174        836           19  ...                  0                     1
194        873           26  ...                  0                     2
266        982           18  ...                  1                     1

[23 rows x 13 columns]

In [0]:
cust20 = df2[df2['HS Customer']==20] #only ids that are 20

In [9]:
cust20

     Ticket ID  HS Customer  ... Agent interactions Customer interactions
2           44           20  ...                  1                     1
3           54           20  ...                  1                     1
16          97           20  ...                  1                     1
24         111           20  ...                  0                     6
121        446           20  ...                  1                     2
133        766           20  ...                  2                     3
143        781           20  ...                  3                     3
160        814           20  ...                  1                     1
167        824           20  ...                  0                     7
168        825           20  ...                  2                     2
184        848           20  ...                  1                     2
186        851           20  ...                  0                     1
191        864           20  ...                  0                     1
246        948           20  ...                  5                     6

[14 rows x 13 columns]