<a href="https://colab.research.google.com/github/nurfnick/Cantrell_Jackson/blob/master/jacob_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pa
import numpy as np

In [0]:
url = 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/Support-Oct18-Sept19.csv'

In [0]:
df2 = pa.read_csv(url)

In [23]:
df2

     Ticket ID  HS Customer  ... Agent interactions Customer interactions
0           35           18  ...                  1                     1
1           36           19  ...                  2                     1
2           44           20  ...                  1                     1
3           54           20  ...                  1                     1
4           55           23  ...                  1                     1
..         ...          ...  ...                ...                   ...
279       1009           18  ...                  1                     1
280       1012           18  ...                  1                     3
281       1014           18  ...                  2                     3
282       1016           18  ...                  1                     2
283       1017           18  ...                  0                     3

[284 rows x 13 columns]

In [0]:
cust20 = df2[df2['HS Customer']==20] #only ids that are 20

In [29]:
cust20

     Ticket ID  HS Customer  ... Agent interactions Customer interactions
2           44           20  ...                  1                     1
3           54           20  ...                  1                     1
16          97           20  ...                  1                     1
24         111           20  ...                  0                     6
121        446           20  ...                  1                     2
133        766           20  ...                  2                     3
143        781           20  ...                  3                     3
160        814           20  ...                  1                     1
167        824           20  ...                  0                     7
168        825           20  ...                  2                     2
184        848           20  ...                  1                     2
186        851           20  ...                  0                     1
191        864           20  ...                  0                     1
246        948           20  ...                  5                     6

[14 rows x 13 columns]

In [0]:
cust18 = df2[df2['HS Customer']==18] #only ids that are 18

In [39]:
cust18

     Ticket ID  HS Customer  ... Agent interactions Customer interactions
0           35           18  ...                  1                     1
5           65           18  ...                  1                     1
6           71           18  ...                  0                     1
7           73           18  ...                  1                     1
8           75           18  ...                  1                     1
..         ...          ...  ...                ...                   ...
279       1009           18  ...                  1                     1
280       1012           18  ...                  1                     3
281       1014           18  ...                  2                     3
282       1016           18  ...                  1                     2
283       1017           18  ...                  0                     3

[121 rows x 13 columns]