<a href="https://colab.research.google.com/github/nurfnick/Cantrell_Jackson/blob/master/mean_of_truck_Customer_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pa
import numpy as np

In [9]:
from google.colab import files
uploaded = files.upload()

Saving hs_customer_18.csv to hs_customer_18 (1).csv

In [10]:
import io
df2 = pa.read_csv(io.BytesIO(uploaded['hs_customer_18.csv']))# Dataset is now stored in a Pandas Dataframe

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
df2

        invoice_id  hs_customer  ...  ticket_item_type  details
0           265778           18  ...   job_description      842
1           265778           18  ...             truck     3222
2           265778           18  ...         bill_bbls       80
3           265778           18  ...        bill_hours        3
4           265778           18  ...         bill_type        2
...            ...          ...  ...               ...      ...
853648      322697           18  ...             truck     1353
853649      322697           18  ...     price_per_bbl      105
853650      322697           18  ...     price_per_bbl      105
853651      322697           18  ...    price_per_hour      105
853652      322697           18  ...    price_per_hour      105

[853653 rows x 9 columns]

In [14]:
df3=df2[df2['ticket_item_type']=="truck"]
print(df3)

        invoice_id  hs_customer  ...  ticket_item_type  details
1           265778           18  ...             truck     3222
33          265777           18  ...             truck     1371
34          265777           18  ...             truck     1371
35          265777           18  ...             truck     1371
36          265777           18  ...             truck     3219
...            ...          ...  ...               ...      ...
853616      322904           18  ...             truck     3236
853617      322904           18  ...             truck     3262
853618      322904           18  ...             truck     3262
853647      322697           18  ...             truck     1353
853648      322697           18  ...             truck     1353

[119108 rows x 9 columns]

In [16]:
df3.sort_values("invoice_total")

        invoice_id  hs_customer  ...  ticket_item_type  details
560906      313277           18  ...             truck     1107
560920      313275           18  ...             truck     1107
560859      313283           18  ...             truck     1107
560860      313283           18  ...             truck     2151
560842      313285           18  ...             truck     1107
...            ...          ...  ...               ...      ...
546243      315233           18  ...             truck     1107
378955      273162           18  ...             truck     1107
378956      273162           18  ...             truck     1107
378957      273162           18  ...             truck     1107
378961      273162           18  ...             truck     2146

[119108 rows x 9 columns]

In [18]:
df3.mean(axis=0)

invoice_id       2.905955e+05
hs_customer      1.800000e+01
invoice_total    6.809695e+03
invoice_time     1.560407e+09
ticket_id        1.646612e+06
ticket_date      1.559788e+09
dtype: float64