<a href="https://colab.research.google.com/github/nurfnick/Cantrell_Jackson/blob/master/MostCalls.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pa
import numpy as np

In [0]:
url = 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/Support-Oct18-Sept19.csv'

In [0]:
df2 = pa.read_csv(url)

In [19]:
df2

     Ticket ID  HS Customer  ... Agent interactions Customer interactions
0           35           18  ...                  1                     1
1           36           19  ...                  2                     1
2           44           20  ...                  1                     1
3           54           20  ...                  1                     1
4           55           23  ...                  1                     1
..         ...          ...  ...                ...                   ...
279       1009           18  ...                  1                     1
280       1012           18  ...                  1                     3
281       1014           18  ...                  2                     3
282       1016           18  ...                  1                     2
283       1017           18  ...                  0                     3

[284 rows x 13 columns]

In [0]:
cust18 = df2[df2['HS Customer']==18] #only ids that are 18

In [21]:
cust18

     Ticket ID  HS Customer  ... Agent interactions Customer interactions
0           35           18  ...                  1                     1
5           65           18  ...                  1                     1
6           71           18  ...                  0                     1
7           73           18  ...                  1                     1
8           75           18  ...                  1                     1
..         ...          ...  ...                ...                   ...
279       1009           18  ...                  1                     1
280       1012           18  ...                  1                     3
281       1014           18  ...                  2                     3
282       1016           18  ...                  1                     2
283       1017           18  ...                  0                     3

[121 rows x 13 columns]

In [36]:
source = ['Email', 'Portal', 'Phone']
for s in range(len(source)):
  print('source ', source[s], ' = ', len(df2[df2['Source']== source[s]])))

source Email = 154
source Portal = 124
source Phone = 6

In [37]:
custs = 46
for c in range(custs):
  print('cust ', str(c), ' = ', str(len(df2[df2['HS Customer']== c])))

cust  0  =  0
cust  1  =  0
cust  2  =  0
cust  3  =  0
cust  4  =  3
cust  5  =  13
cust  6  =  0
cust  7  =  0
cust  8  =  0
cust  9  =  0
cust  10  =  12
cust  11  =  0
cust  12  =  0
cust  13  =  0
cust  14  =  0
cust  15  =  19
cust  16  =  5
cust  17  =  0
cust  18  =  121
cust  19  =  10
cust  20  =  14
cust  21  =  6
cust  22  =  0
cust  23  =  1
cust  24  =  7
cust  25  =  15
cust  26  =  10
cust  27  =  0
cust  28  =  13
cust  29  =  0
cust  30  =  0
cust  31  =  0
cust  32  =  0
cust  33  =  0
cust  34  =  3
cust  35  =  0
cust  36  =  0
cust  37  =  11
cust  38  =  0
cust  39  =  1
cust  40  =  1
cust  41  =  13
cust  42  =  0
cust  43  =  0
cust  44  =  0
cust  45  =  6