<a href="https://colab.research.google.com/github/nurfnick/Cantrell_Jackson/blob/master/SourceType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pa
import numpy as np

In [0]:
url = 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/Support-Oct18-Sept19.csv'

In [0]:
df2 = pa.read_csv(url)

In [23]:
df2

     Ticket ID  HS Customer  ... Agent interactions Customer interactions
0           35           18  ...                  1                     1
1           36           19  ...                  2                     1
2           44           20  ...                  1                     1
3           54           20  ...                  1                     1
4           55           23  ...                  1                     1
..         ...          ...  ...                ...                   ...
279       1009           18  ...                  1                     1
280       1012           18  ...                  1                     3
281       1014           18  ...                  2                     3
282       1016           18  ...                  1                     2
283       1017           18  ...                  0                     3

[284 rows x 13 columns]

In [24]:
df2[df2['HS Customer']==18] #only ids that are 18

     Ticket ID  HS Customer  ... Agent interactions Customer interactions
0           35           18  ...                  1                     1
5           65           18  ...                  1                     1
6           71           18  ...                  0                     1
7           73           18  ...                  1                     1
8           75           18  ...                  1                     1
..         ...          ...  ...                ...                   ...
279       1009           18  ...                  1                     1
280       1012           18  ...                  1                     3
281       1014           18  ...                  2                     3
282       1016           18  ...                  1                     2
283       1017           18  ...                  0                     3

[121 rows x 13 columns]

In [25]:
source = ['Email','Portal','Phone']
for s in range(len(source)):
    print('source ', source[s], ' = ', len(df2[df2["Source"]== source[s]]))

source  Email  =  154
source  Portal  =  124
source  Phone  =  6