<a href="https://colab.research.google.com/github/nurfnick/Cantrell_Jackson/blob/master/Tracy's%20hot%20mess%20of%20code1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pa
import numpy as np
import datetime as dt
import time as tm

# trucks want unique id (id is unique for each truck) want to grab the customer and the date used 
#tickets based on job details, multiple tickets/ invoice per and mults 'special projects' different categories etc.
#for each unique ticket and invoice, the type and number of job type of each customer.

In [121]:
url1 = 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/hs_customer_4.csv'
df1 = pa.read_csv(url1)
df1

        invoice_id  hs_customer  ...  ticket_item_type  details
0           179988            4  ...   job_description   1281.0
1           179987            4  ...   job_description   1281.0
2           179995            4  ...   job_description   1281.0
3           179978            4  ...   job_description   1281.0
4           180011            4  ...   job_description   1281.0
...            ...          ...  ...               ...      ...
187563      223637            4  ...   job_description      NaN
187564      223548            4  ...   job_description      NaN
187565      223544            4  ...   job_description      NaN
187566      223547            4  ...   job_description      NaN
187567      223546            4  ...   job_description      NaN

[187568 rows x 9 columns]

In [37]:
#16, 18, 19, 5 are too big- zipped files.
#34,39,41,45 too big
# for customers 4 10 15 28
custnums = [4, 10, 15, 28, 34, 39, 41, 45]
for n in range(len(custnums)):
  print('Customer '+str(custnums[n])+':')
  #read files
  url = 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/hs_customer_'+str(custnums[n])+'.csv'
  df = pa.read_csv(url)
  #make blanks = 0
  values = {'invoice_id': 0, 'hs_customer': 0, 'invoice_total': 0, 'invoice_time': 0, 'ticket_id': 0, 'job_type': 0, 'ticket_date': 0,'ticket_item_type': 0, 'details': 0}
  df.fillna(value=values)
  dfnoNAN = df.fillna(value=values)
  dfnoduplicates = dfnoNAN.drop_duplicates()
  dfnoduplicates.columns = dfnoduplicates.columns.str.lower()
  #group by ticket item type like their system
  dfgroupbbl = dfnoduplicates.groupby('ticket_item_type')
  #grab one of the types, here is bill by the barrel
  billbbls = dfgroupbbl.get_group('bill_bbls') 
  #group by the job type
  billbbljobtype = billbbls.groupby('job_type')
# still need order based on date
# what to do for customers that do not have any tickets for flowback?
  billbblssp = billbbljobtype.get_group('Special Projects')
  customerbblssplen = len(billbblssp)
  customerbblsspmoney = round(sum(billbblssp['invoice_total']),2)
  if 'Water Hauling' in billbbljobtype.groups.keys():
    billbblswh = billbbljobtype.get_group('Water Hauling')
    customerbblswhlen = len(billbblswh)
    customerbblswhmoney = round(sum(billbblswh['invoice_total']),2)
  else:
    customerbblswhlen = 0
    customerbblswhmoney = 0
  if 'Flowback' in billbbljobtype.groups.keys():
    billbblsfb = billbbljobtype.get_group('Flowback')
    customerbblsfblen = len(billbblsfb)
    customerbblsfbmoney = round(sum(billbblsfb['invoice_total']),2)
    customerbblslentot = customerbblssplen + customerbblsfblen + customerbblswhlen
    customerbblsmoneytot = customerbblsspmoney + customerbblsfbmoney + customerbblswhmoney
    print(f'Bill_BBL Summary:\n Special Projects Tickets Count: {customerbblssplen:,.0f}\n Cash: ${customerbblsspmoney:,.2f}\n Water Hauling Ticket Count: {customerbblswhlen:,.0f}\n Cash: ${customerbblswhmoney:,.2f}\n Flowback Ticket Count: {customerbblsfblen:,.0f}\n Cash: ${customerbblsfbmoney:,.2f}\n Total Customer Ticket Count: {customerbblslentot:,.0f}\n Cash: ${customerbblsmoneytot:,.2f}')
  else:
    customerbblslentot = customerbblssplen + customerbblswhlen
    customerbblsmoneytot = customerbblsspmoney + customerbblswhmoney
    print(f'Bill_BBL Summary:\n Special Projects Tickets Count: {customerbblssplen:,.0f}\n Cash: ${customerbblsspmoney:,.2f}\n Water Hauling Ticket Count: {customerbblswhlen:,.0f}\n Cash: ${customerbblswhmoney:,.2f}\n No Flowback tickets\n Total Customer Ticket Count: {customerbblslentot:,.0f}\n Cash: ${customerbblsmoneytot:,.2f}')
  print('\n')

Customer 4:
Bill_BBL Summary:
 Special Projects Tickets Count: 1,441
 Cash: $2,112,405.17
 Water Hauling Ticket Count: 26,005
 Cash: $184,821,883.15
 No Flowback tickets
 Total Customer Ticket Count: 27,446
 Cash: $186,934,288.32


Customer 10:
Bill_BBL Summary:
 Special Projects Tickets Count: 401
 Cash: $940,439.70
 Water Hauling Ticket Count: 15,543
 Cash: $80,628,798.97
 No Flowback tickets
 Total Customer Ticket Count: 15,944
 Cash: $81,569,238.67


Customer 15:
Bill_BBL Summary:
 Special Projects Tickets Count: 3,911
 Cash: $17,695,391.57
 Water Hauling Ticket Count: 15,084
 Cash: $70,518,189.86
 No Flowback tickets
 Total Customer Ticket Count: 18,995
 Cash: $88,213,581.43


Customer 16:

HTTPError: ignored

In [6]:
url2 = 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/hs_customer_34.csv'
df2 = pa.read_csv(url2)
df2

        invoice_id  hs_customer  ...  Ticket_Item_Type  details
0           269968           34  ...   job_description   1383.0
1           269968           34  ...             truck   2340.0
2           269968           34  ...         bill_bbls      0.0
3           269968           34  ...        bill_hours      2.0
4           269968           34  ...         bill_type      2.0
...            ...          ...  ...               ...      ...
120552      270966           34  ...         bill_bbls    140.0
120553      270966           34  ...         bill_bbls    140.0
120554      270966           34  ...         bill_bbls    140.0
120555      270966           34  ...         bill_bbls    140.0
120556      270966           34  ...         bill_bbls    140.0

[120557 rows x 9 columns]

In [0]:
#convert column 'ticket_date' to readable date
ts = tm.gmtime()
readable =[]
for time in billbbls['ticket_date']:

+  readable.append(tm.ctime(time))
readable[0:10]

['Thu Sep 27 20:35:01 2018',
 'Mon Oct  1 14:40:12 2018',
 'Mon Oct  1 15:45:47 2018',
 'Mon Oct  1 18:03:34 2018',
 'Mon Oct  1 18:04:41 2018',
 'Mon Oct  1 18:12:34 2018',
 'Mon Oct  1 19:42:52 2018',
 'Mon Oct  1 21:38:51 2018',
 'Tue Oct  2 15:21:11 2018',
 'Tue Oct  2 15:21:59 2018']

In [0]:
billbbls['ticket_date'] = pa.np.where(readable.str.contains("Oct"), "Oct",
                   pa.np.where(readable.str.contains("Sep"), "Sep",
                   pa.np.where(readable.str.contains("Nov"), "Nov")

SyntaxError: ignored

In [0]:
#convert column 'ticket_date' to readable date
ts = tm.gmtime()
readable =[]
for time in billbbls['ticket_date']:
  readable.append(tm.ctime(time))
billbbls['ticket_date'] = readable

TypeError: ignored