<a href="https://colab.research.google.com/github/nurfnick/Cantrell_Jackson/blob/master/Tracy%20invoice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pa
import numpy as np

In [0]:
url = 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/Support-Oct18-Sept19.csv'

In [0]:
df2 = pa.read_csv(url)

In [4]:
df2

     Ticket ID  HS Customer  ... Agent interactions Customer interactions
0           35           18  ...                  1                     1
1           36           19  ...                  2                     1
2           44           20  ...                  1                     1
3           54           20  ...                  1                     1
4           55           23  ...                  1                     1
..         ...          ...  ...                ...                   ...
279       1009           18  ...                  1                     1
280       1012           18  ...                  1                     3
281       1014           18  ...                  2                     3
282       1016           18  ...                  1                     2
283       1017           18  ...                  0                     3

[284 rows x 13 columns]

In [0]:
cust18 = df2[df2['HS Customer']==18] #only ids that are 18

In [6]:
cust18

     Ticket ID  HS Customer  ... Agent interactions Customer interactions
0           35           18  ...                  1                     1
5           65           18  ...                  1                     1
6           71           18  ...                  0                     1
7           73           18  ...                  1                     1
8           75           18  ...                  1                     1
..         ...          ...  ...                ...                   ...
279       1009           18  ...                  1                     1
280       1012           18  ...                  1                     3
281       1014           18  ...                  2                     3
282       1016           18  ...                  1                     2
283       1017           18  ...                  0                     3

[121 rows x 13 columns]

In [7]:
custs = 46
for c in range(custs):
  print('cust ', str(c), ' = ', str(len(df2[df2['HS Customer']== c])))

cust  0  =  0
cust  1  =  0
cust  2  =  0
cust  3  =  0
cust  4  =  3
cust  5  =  13
cust  6  =  0
cust  7  =  0
cust  8  =  0
cust  9  =  0
cust  10  =  12
cust  11  =  0
cust  12  =  0
cust  13  =  0
cust  14  =  0
cust  15  =  19
cust  16  =  5
cust  17  =  0
cust  18  =  121
cust  19  =  10
cust  20  =  14
cust  21  =  6
cust  22  =  0
cust  23  =  1
cust  24  =  7
cust  25  =  15
cust  26  =  10
cust  27  =  0
cust  28  =  13
cust  29  =  0
cust  30  =  0
cust  31  =  0
cust  32  =  0
cust  33  =  0
cust  34  =  3
cust  35  =  0
cust  36  =  0
cust  37  =  11
cust  38  =  0
cust  39  =  1
cust  40  =  1
cust  41  =  13
cust  42  =  0
cust  43  =  0
cust  44  =  0
cust  45  =  6

#for each unique ticket and invoice, the type and number of job type of each customer.

In [8]:
# for customer number 4
url2 = 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/hs_customer_4.csv'
df3 = pa.read_csv(url2)
df3

        invoice_id  hs_customer  ...  ticket_item_type  details
0           179988            4  ...   job_description   1281.0
1           179987            4  ...   job_description   1281.0
2           179995            4  ...   job_description   1281.0
3           179978            4  ...   job_description   1281.0
4           180011            4  ...   job_description   1281.0
...            ...          ...  ...               ...      ...
187563      223637            4  ...   job_description      NaN
187564      223548            4  ...   job_description      NaN
187565      223544            4  ...   job_description      NaN
187566      223547            4  ...   job_description      NaN
187567      223546            4  ...   job_description      NaN

[187568 rows x 9 columns]

In [13]:
why = df3['invoice_id'].unique, df3['ticket_id'].unique
why

(<bound method Series.unique of 0         179988
 1         179987
 2         179995
 3         179978
 4         180011
            ...
 187563    223637
 187564    223548
 187565    223544
 187566    223547
 187567    223546
 Name: invoice_id, Length: 187568, dtype: int64>,
 <bound method Series.unique of 0          921385
 1          921730
 2          922145
 3          922198
 4          926946
            ...
 187563    1254414
 187564    1254603
 187565    1254411
 187566    1254609
 187567    1254418
 Name: ticket_id, Length: 187568, dtype: int64>)

In [0]:
why = df3['invoice_id'].unique, df3['ticket_id'].unique
for why in df3:
    sum(df3['invoice_total'])

In [20]:
df3t = np.transpose(df3)
df3t

                                 0  ...           187567
invoice_id                  179988  ...           223546
hs_customer                      4  ...                4
invoice_total                 1703  ...           2167.5
invoice_time            1538430074  ...       1547582637
ticket_id                   921385  ...          1254418
job_type          Special Projects  ...    Water Hauling
ticket_date             1538071304  ...       1547549375
ticket_item_type   job_description  ...  job_description
details                       1281  ...              NaN

[9 rows x 187568 columns]

In [9]:
count = df3['ticket_id'].unique,  df3['job_type'] == 'Special Projects'
sum(count[1]*1)

10087

In [10]:
count = df3['ticket_id'].unique,  df3['job_type'] == 'Water Hauling'
sum(count[1]*1)

177481

In [11]:

specpro = df3['job_type'] == 'Special Projects', df3['invoice_value']
wah = pa.dataframe(specpro)

KeyError: ignored

In [0]:
wah = df3.sum(axis = 0, skipna = True)
pa.dataframe(wah)

In [0]:
#Total sum per row: 
dude = df3.loc[:,'Total'] = df3.sum(axis=1)
dudes = pa.DataFrame(dude)
dudes

In [0]:
#df3 transposed
df3t = np.transpose(df3)
df3t

In [21]:
#df3 transposed separate rows we want
df3tl = ()
df3tl = df3t[0:1].append(df3t[2:3]).append(df3t[4:6])
df3tl

                         0                 1       ...         187566         187567
invoice_id               179988            179987  ...         223547         223546
invoice_total              1703           1401.05  ...         2144.2         2167.5
ticket_id                921385            921730  ...        1254609        1254418
job_type       Special Projects  Special Projects  ...  Water Hauling  Water Hauling

[4 rows x 187568 columns]

In [24]:
#transpose again
df3tlt = np.transpose(df3tl)
df3tlt

       invoice_id invoice_total ticket_id          job_type
0          179988          1703    921385  Special Projects
1          179987       1401.05    921730  Special Projects
2          179995        533.14    922145  Special Projects
3          179978         15870    922198  Special Projects
4          180011          2170    926946  Special Projects
...           ...           ...       ...               ...
187563     223637        5890.5   1254414     Water Hauling
187564     223548        5446.8   1254603     Water Hauling
187565     223544          1682   1254411     Water Hauling
187566     223547        2144.2   1254609     Water Hauling
187567     223546        2167.5   1254418     Water Hauling

[187568 rows x 4 columns]

In [27]:
tab = pa.DataFrame(df3tlt)
tab

       invoice_id invoice_total ticket_id          job_type
0          179988          1703    921385  Special Projects
1          179987       1401.05    921730  Special Projects
2          179995        533.14    922145  Special Projects
3          179978         15870    922198  Special Projects
4          180011          2170    926946  Special Projects
...           ...           ...       ...               ...
187563     223637        5890.5   1254414     Water Hauling
187564     223548        5446.8   1254603     Water Hauling
187565     223544          1682   1254411     Water Hauling
187566     223547        2144.2   1254609     Water Hauling
187567     223546        2167.5   1254418     Water Hauling

[187568 rows x 4 columns]

In [32]:
# shows duplicate rows (one instance of each)
duplicateRowsDF = pa.DataFrame(tab[tab.duplicated()])
print(duplicateRowsDF)

       invoice_id invoice_total ticket_id          job_type
1441       199546          1118   1060989  Special Projects
1442       199489        1168.4   1061138  Special Projects
1443       203162         637.6   1085710  Special Projects
1444       203167           316   1096096  Special Projects
1445       203994           324   1100343  Special Projects
...           ...           ...       ...               ...
187563     223637        5890.5   1254414     Water Hauling
187564     223548        5446.8   1254603     Water Hauling
187565     223544          1682   1254411     Water Hauling
187566     223547        2144.2   1254609     Water Hauling
187567     223546        2167.5   1254418     Water Hauling

[160122 rows x 4 columns]

In [41]:
#restrict dataframe to only show special projects
spdups = duplicateRowsDF[duplicateRowsDF['job_type'] == 'Special Projects']
spdups

      invoice_id invoice_total ticket_id          job_type
1441      199546          1118   1060989  Special Projects
1442      199489        1168.4   1061138  Special Projects
1443      203162         637.6   1085710  Special Projects
1444      203167           316   1096096  Special Projects
1445      203994           324   1100343  Special Projects
...          ...           ...       ...               ...
10082     203980           384   1098983  Special Projects
10083     215099           765   1179461  Special Projects
10084     216904           186   1199213  Special Projects
10085     222358          1751   1242345  Special Projects
10086     228546           294   1290501  Special Projects

[8646 rows x 4 columns]

In [42]:
#invoice total for job type special projects for customer 4
sum(spdups['invoice_total'])

12674431.019999983

In [47]:
whdups = duplicateRowsDF[duplicateRowsDF['job_type'] == 'Water Hauling']
whdups

       invoice_id invoice_total ticket_id       job_type
24000      196737       24487.5   1037012  Water Hauling
24001      196737       24487.5   1037013  Water Hauling
24002      196737       24487.5   1037015  Water Hauling
24003      196751           855   1037017  Water Hauling
24004      196749          1125   1037020  Water Hauling
...           ...           ...       ...            ...
187563     223637        5890.5   1254414  Water Hauling
187564     223548        5446.8   1254603  Water Hauling
187565     223544          1682   1254411  Water Hauling
187566     223547        2144.2   1254609  Water Hauling
187567     223546        2167.5   1254418  Water Hauling

[151476 rows x 4 columns]

In [56]:
whdups['invoice_total'].

24000     24487.5
24001     24487.5
24002     24487.5
24003       855.0
24004      1125.0
           ...
187563     5890.5
187564     5446.8
187565     1682.0
187566     2144.2
187567     2167.5
Name: invoice_total, Length: 151476, dtype: float64

In [57]:
sum(whdups['invoice_total'].astype(float))

nan

#Customer 4 most often has tickets about Water Hauling.

In [0]:
# for customer number 5
url3 = 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/hs_customer_5_p2.csv'
df5 = pa.read_csv(url3)
df5

In [0]:
count = df5['ticket_id'].unique,  df5['job_type'] == 'Flowback'
sum(count[1]*1)

# it appears customer 5 only has flowback job types.

In [0]:
# for customer number 10
url4 = 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/hs_customer_10.csv'
df6 = pa.read_csv(url4)
df6

In [0]:
count = df6['ticket_id'].unique,  df6['job_type'] == 'Special Projects'
sum(count[1]*1)

In [0]:
count = df6['ticket_id'].unique,  df6['job_type'] == 'Water Hauling'
sum(count[1]*1)

#customer 10 has more Water Hauling job type tickets

In [0]:
# for customer number 15
url5 = 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/hs_customer_15.csv'
df7 = pa.read_csv(url5)
df7

In [0]:
count = df7['ticket_id'].unique,  df7['job_type'] == 'Special Projects'
sum(count[1]*1)

In [0]:
count = df7['ticket_id'].unique,  df7['job_type'] == 'Water Hauling'
sum(count[1]*1)

#customer 15 has more water hauling tickets

In [0]:
# for customer number 23
url6 = 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/hs_customer_23.csv'
df8 = pa.read_csv(url6)
df8

In [0]:
count = df8['ticket_id'].unique,  df8['job_type'] == 'Special Projects'
sum(count[1]*1)

#customer 23 has only special projects job type tickets

In [0]:
# for customer number 28
url7 = 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/hs_customer_28.csv'
df9 = pa.read_csv(url7)
df9

In [0]:
count = df9['ticket_id'].unique,  df9['job_type'] == 'Special Projects'
sum(count[1]*1)

In [0]:
count = df9['ticket_id'].unique,  df9['job_type'] == 'Water Hauling'
sum(count[1]*1)

#customer 28 has more water hauling job type tickets

In [0]:
# for customer number 34
url8 = 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/hs_customer_34.csv'
df10 = pa.read_csv(url8)
df10

In [0]:
count = df10['ticket_id'].unique,  df10['job_type'] == 'Special Projects'
sum(count[1]*1)

In [0]:
count = df10['ticket_id'].unique,  df10['job_type'] == 'Water Hauling'
sum(count[1]*1)

#customer 34 has more water hauling job type tickets

In [0]:
# for customer number 37
url9 = 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/hs_customer_37.csv'
df11 = pa.read_csv(url9)
df11

In [0]:
count = df11['ticket_id'].unique,  df11['job_type'] == 'Flowback'
sum(count[1]*1)

In [0]:
count = df11['ticket_id'].unique,  df11['job_type'] == 'Special Projects'
sum(count[1]*1)

In [0]:
count = df11['ticket_id'].unique,  df11['job_type'] == 'Water Hauling'
sum(count[1]*1)

#customer 37 has more flowback job type tickets

In [0]:
# for customer number 39
url10 = 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/hs_customer_39.csv'
df12 = pa.read_csv(url10)
df12

In [0]:
count = df12['ticket_id'].unique,  df12['job_type'] == 'Water Hauling'
sum(count[1]*1)

#customer 39 only has water hauling job type tickets

In [0]:
# for customer number 41
url11 = 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/hs_customer_41.csv'
df13 = pa.read_csv(url11)
df13

In [0]:
count = df13['ticket_id'].unique,  df13['job_type'] == 'Special Projects'
sum(count[1]*1)

In [0]:
count = df13['ticket_id'].unique,  df13['job_type'] == 'Water Hauling'
sum(count[1]*1)

#customer 41 has more water hauling job type tickets

In [0]:
# for customer number 45
url12 = 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/hs_customer_45.csv'
df14 = pa.read_csv(url12)
df14

In [0]:
count = df14['ticket_id'].unique,  df14['job_type'] == 'Special Projects'
sum(count[1]*1)

#customer 45 only has special projects job type tickets

In [0]:
invid = df3['invoice_id'].unique()

In [0]:
invid

In [0]:
cust4spec = df3[df3['job_type']=='Special Projects'], df3['invoice_id'].unique, df3['ticket_id'].unique #job types that are only 'special projects'

In [0]:
cust4spec

In [0]:
uniques = df3['invoice_id'].unique()
data = []

for var in uniques:
  data.append(df3[(df3['ticket_item_type']== "job_description" & df3['invoice_id']== var)])

In [0]:
data

In [0]:
uniques