<a href="https://colab.research.google.com/github/nurfnick/Cantrell_Jackson/blob/master/Tracy's%20hot%20mess%20of%20code1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pa
import numpy as np
import datetime as dt
import time as tm

# trucks want unique id (id is unique for each truck) want to grab the customer and the date used 
#tickets based on job details, multiple tickets/ invoice per and mults 'special projects' different categories etc.
#for each unique ticket and invoice, the type and number of job type of each customer.

In [121]:
url1 = 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/hs_customer_4.csv'
df1 = pa.read_csv(url1)
df1

        invoice_id  hs_customer  ...  ticket_item_type  details
0           179988            4  ...   job_description   1281.0
1           179987            4  ...   job_description   1281.0
2           179995            4  ...   job_description   1281.0
3           179978            4  ...   job_description   1281.0
4           180011            4  ...   job_description   1281.0
...            ...          ...  ...               ...      ...
187563      223637            4  ...   job_description      NaN
187564      223548            4  ...   job_description      NaN
187565      223544            4  ...   job_description      NaN
187566      223547            4  ...   job_description      NaN
187567      223546            4  ...   job_description      NaN

[187568 rows x 9 columns]

In [135]:
#16, 18, 19, 5 are too big- zipped files.
#34,39,41,45 too big
# for customers 4 10 15 28
custnums = [4, 10, 15, 28]
for n in range(len(custnums)):
  print('Customer '+str(custnums[n])+':')
  #read files
  url = 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/hs_customer_'+str(custnums[n])+'.csv'
  df = pa.read_csv(url)
  #make blanks = 0
  values = {'invoice_id': 0, 'hs_customer': 0, 'invoice_total': 0, 'invoice_time': 0, 'ticket_id': 0, 'job_type': 0, 'ticket_date': 0,'ticket_item_type': 0, 'details': 0}
  df.fillna(value=values)
  dfnoNAN = df.fillna(value=values)
  dfnoduplicates = dfnoNAN.drop_duplicates()
  print(dfnoduplicates)
  #group by ticket item type like their system
  dfgroupbbl = dfnoduplicates.groupby('ticket_item_type')
  print(dfgroupbbl)
  #grab one of the types, here is bill by the barrel
  billbbls = dfgroupbbl.get_group('bill_bbls') 
  #group by the job type
  billbbljobtype = billbbls.groupby('job_type')
# still need order based on date
# what to do for customers that do not have any tickets for flowback?
  billbblssp = billbbljobtype.get_group('Special Projects')
  customerbblssplen = len(billbblssp)
  customerbblsspmoney = round(sum(billbblssp['invoice_total']),2)
  billbblswh = billbbljobtype.get_group('Water Hauling')
  customerbblswhlen = len(billbblswh)
  customerbblswhmoney = round(sum(billbblswh['invoice_total']),2)
  if 'Flowback' in billbbljobtype.groups.keys():
    print('Yes')
  else:
    print('No')
  billbblsfb = billbbljobtype.get_group('Flowback')
  customerbblsfblen = len(billbblsfb)
  customerbblsfbmoney = round(sum(billbblsfb['invoice_total']),2)
  customerbblslentot = customerbblssplen + customerbblsfblen + customerbblswhlen
  customerbblsmoneytot = customerbblsspmoney + customerbblsfbmoney + customerbblswhmoney
  print(f'Customer {str(custnums[n])} Summary: Special Projects Tickets Count: {customerbblssplen} Cash: {customerbblsspmoney}, Water Hauling Ticket Count {customerbblswhlen} Cash: {customerbblswhmoney}, Flowback Ticket Count {customerbblsfblen} Cash: {customerbblsfbmoney}, Total Customer Ticket Count {customerbblslentot} Cash: {customerbblsmoneytot}')

Customer 4:
        invoice_id  hs_customer  ...  ticket_item_type  details
0           179988            4  ...   job_description   1281.0
1           179987            4  ...   job_description   1281.0
2           179995            4  ...   job_description   1281.0
3           179978            4  ...   job_description   1281.0
4           180011            4  ...   job_description   1281.0
...            ...          ...  ...               ...      ...
187563      223637            4  ...   job_description      0.0
187564      223548            4  ...   job_description      0.0
187565      223544            4  ...   job_description      0.0
187566      223547            4  ...   job_description      0.0
187567      223546            4  ...   job_description      0.0

[187568 rows x 9 columns]
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f0a178f6cc0>
Yes

KeyError: ignored

In [0]:
#convert column 'ticket_date' to readable date
ts = tm.gmtime()
readable =[]
for time in billbbls['ticket_date']:

+  readable.append(tm.ctime(time))
readable[0:10]

['Thu Sep 27 20:35:01 2018',
 'Mon Oct  1 14:40:12 2018',
 'Mon Oct  1 15:45:47 2018',
 'Mon Oct  1 18:03:34 2018',
 'Mon Oct  1 18:04:41 2018',
 'Mon Oct  1 18:12:34 2018',
 'Mon Oct  1 19:42:52 2018',
 'Mon Oct  1 21:38:51 2018',
 'Tue Oct  2 15:21:11 2018',
 'Tue Oct  2 15:21:59 2018']

In [0]:
billbbls['ticket_date'] = pa.np.where(readable.str.contains("Oct"), "Oct",
                   pa.np.where(readable.str.contains("Sep"), "Sep",
                   pa.np.where(readable.str.contains("Nov"), "Nov")

SyntaxError: ignored

In [0]:
#convert column 'ticket_date' to readable date
ts = tm.gmtime()
readable =[]
for time in billbbls['ticket_date']:
  readable.append(tm.ctime(time))
billbbls['ticket_date'] = readable

TypeError: ignored