<a href="https://colab.research.google.com/github/nurfnick/Cantrell_Jackson/blob/master/Tracy_Work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pa
import numpy as np

In [0]:
url = 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/Support-Oct18-Sept19.csv'

In [0]:
df2 = pa.read_csv(url)

In [70]:
df2

     Ticket ID  HS Customer  ... Agent interactions Customer interactions
0           35           18  ...                  1                     1
1           36           19  ...                  2                     1
2           44           20  ...                  1                     1
3           54           20  ...                  1                     1
4           55           23  ...                  1                     1
..         ...          ...  ...                ...                   ...
279       1009           18  ...                  1                     1
280       1012           18  ...                  1                     3
281       1014           18  ...                  2                     3
282       1016           18  ...                  1                     2
283       1017           18  ...                  0                     3

[284 rows x 13 columns]

In [0]:
cust18 = df2[df2['HS Customer']==18] #only ids that are 18

In [72]:
cust18

     Ticket ID  HS Customer  ... Agent interactions Customer interactions
0           35           18  ...                  1                     1
5           65           18  ...                  1                     1
6           71           18  ...                  0                     1
7           73           18  ...                  1                     1
8           75           18  ...                  1                     1
..         ...          ...  ...                ...                   ...
279       1009           18  ...                  1                     1
280       1012           18  ...                  1                     3
281       1014           18  ...                  2                     3
282       1016           18  ...                  1                     2
283       1017           18  ...                  0                     3

[121 rows x 13 columns]

In [73]:
custs = 46
for c in range(custs):
  print('cust ', str(c), ' = ', str(len(df2[df2['HS Customer']== c])))

cust  0  =  0
cust  1  =  0
cust  2  =  0
cust  3  =  0
cust  4  =  3
cust  5  =  13
cust  6  =  0
cust  7  =  0
cust  8  =  0
cust  9  =  0
cust  10  =  12
cust  11  =  0
cust  12  =  0
cust  13  =  0
cust  14  =  0
cust  15  =  19
cust  16  =  5
cust  17  =  0
cust  18  =  121
cust  19  =  10
cust  20  =  14
cust  21  =  6
cust  22  =  0
cust  23  =  1
cust  24  =  7
cust  25  =  15
cust  26  =  10
cust  27  =  0
cust  28  =  13
cust  29  =  0
cust  30  =  0
cust  31  =  0
cust  32  =  0
cust  33  =  0
cust  34  =  3
cust  35  =  0
cust  36  =  0
cust  37  =  11
cust  38  =  0
cust  39  =  1
cust  40  =  1
cust  41  =  13
cust  42  =  0
cust  43  =  0
cust  44  =  0
cust  45  =  6

In [0]:
url2 = 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/hs_customer_4.csv'

In [0]:
df3 = pa.read_csv(url2)

In [76]:
df3

        invoice_id  hs_customer  ...  ticket_item_type  details
0           179988            4  ...   job_description   1281.0
1           179987            4  ...   job_description   1281.0
2           179995            4  ...   job_description   1281.0
3           179978            4  ...   job_description   1281.0
4           180011            4  ...   job_description   1281.0
...            ...          ...  ...               ...      ...
187563      223637            4  ...   job_description      NaN
187564      223548            4  ...   job_description      NaN
187565      223544            4  ...   job_description      NaN
187566      223547            4  ...   job_description      NaN
187567      223546            4  ...   job_description      NaN

[187568 rows x 9 columns]

In [0]:
invid = df3['invoice_id'].unique()

In [78]:
invid

array([179988, 179987, 179995, ..., 190407, 185890, 185891])

In [79]:
count = df3['ticket_id'].unique,  df3['job_type'] == 'Special Projects'
sum(count[1]*1)

10087

In [0]:
cust4spec = df3[df3['job_type']=='Special Projects'], df3['invoice_id'].unique, df3['ticket_id'].unique #job types that are only 'special projects'

In [81]:
cust4spec

(       invoice_id  hs_customer  ...  ticket_item_type  details
 0          179988            4  ...   job_description   1281.0
 1          179987            4  ...   job_description   1281.0
 2          179995            4  ...   job_description   1281.0
 3          179978            4  ...   job_description   1281.0
 4          180011            4  ...   job_description   1281.0
 ...           ...          ...  ...               ...      ...
 10082      203980            4  ...    price_per_hour     90.0
 10083      215099            4  ...    price_per_hour     90.0
 10084      216904            4  ...    price_per_hour     90.0
 10085      222358            4  ...    price_per_hour     90.0
 10086      228546            4  ...    price_per_hour     90.0

 [10087 rows x 9 columns], <bound method Series.unique of 0         179988
 1         179987
 2         179995
 3         179978
 4         180011
            ...
 187563    223637
 187564    223548
 187565    223544
 187566    223547
 187567    223546
 Name: invoice_id, Length: 187568, dtype: int64>, <bound method Series.unique of 0          921385
 1          921730
 2          922145
 3          922198
 4          926946
            ...
 187563    1254414
 187564    1254603
 187565    1254411
 187566    1254609
 187567    1254418
 Name: ticket_id, Length: 187568, dtype: int64>)

In [82]:
uniques = df3['invoice_id'].unique()
data = []

for var in uniques:
  data.append(df3[(df3['ticket_item_type']== "job_description" & df3['invoice_id']== var)])

TypeError: ignored

In [0]:
data

In [0]:
uniques