<a href="https://colab.research.google.com/github/nurfnick/Cantrell_Jackson/blob/master/TypeVsWeight.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pa
import numpy as np

In [0]:
url = 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/Support-Oct18-Sept19.csv'

In [0]:
df2 = pa.read_csv(url)

In [14]:
df2

     Ticket ID  HS Customer  ... Agent interactions Customer interactions
0           35           18  ...                  1                     1
1           36           19  ...                  2                     1
2           44           20  ...                  1                     1
3           54           20  ...                  1                     1
4           55           23  ...                  1                     1
..         ...          ...  ...                ...                   ...
279       1009           18  ...                  1                     1
280       1012           18  ...                  1                     3
281       1014           18  ...                  2                     3
282       1016           18  ...                  1                     2
283       1017           18  ...                  0                     3

[284 rows x 13 columns]

In [15]:
df2[df2['HS Customer']==18] #only ids that are 18

     Ticket ID  HS Customer  ... Agent interactions Customer interactions
0           35           18  ...                  1                     1
5           65           18  ...                  1                     1
6           71           18  ...                  0                     1
7           73           18  ...                  1                     1
8           75           18  ...                  1                     1
..         ...          ...  ...                ...                   ...
279       1009           18  ...                  1                     1
280       1012           18  ...                  1                     3
281       1014           18  ...                  2                     3
282       1016           18  ...                  1                     2
283       1017           18  ...                  0                     3

[121 rows x 13 columns]

In [23]:
weight = [1,2,3,4,5]
for w in range(len(weight)):
  print('weight ', weight[w], ' = ', len(df2[df2['Weight']== weight[w]]))

weight  1  =  23
weight  2  =  70
weight  3  =  82
weight  4  =  93
weight  5  =  16

In [24]:
df2['Type'].unique()

array(['Problem / Issue', 'Feature Request', 'General Question',
       'Software Problem / Issue', 'Data Entry Support', nan,
       'Positive Feedback'], dtype=object)

In [33]:
wcolumns = df2[["Type", "Weight"]]
print(wcolumns)

                         Type  Weight
0             Problem / Issue       3
1             Feature Request       2
2            General Question       1
3             Feature Request       1
4             Problem / Issue       2
..                        ...     ...
279  Software Problem / Issue       4
280  Software Problem / Issue       4
281  Software Problem / Issue       4
282  Software Problem / Issue       3
283  Software Problem / Issue       4

[284 rows x 2 columns]

In [35]:
problem=['Problem / Issue','Feature Request','General Question','Data Entry Support','Positive Feedback']
weight = [1,2,3,4,5]
for p in range(len(problem))
    print("Problem",problem[p],)

girl