<a href="https://colab.research.google.com/github/nurfnick/Cantrell_Jackson/blob/master/Unique_truck_number.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pa
import numpy as np

In [48]:
from google.colab import files
uploaded = files.upload()

Saving hs_customer_45.csv to hs_customer_45.csv

In [0]:
import io
df2 = pa.read_csv(io.BytesIO(uploaded['hs_customer_45.csv']))# Dataset is now stored in a Pandas Dataframe

In [51]:
df2

      invoice_id  hs_customer  ...  Ticket_Item_Type  details
0         337854           45  ...   job_description   2011.0
1         337854           45  ...   job_description   2010.0
2         337854           45  ...     price_per_bbl  28000.0
3         337854           45  ...    price_per_hour  28000.0
4         337854           45  ...        bill_loads      1.0
...          ...          ...  ...               ...      ...
8766      322694           45  ...     price_per_bbl      5.5
8767      322694           45  ...        bill_hours      0.0
8768      322694           45  ...         bill_type      1.0
8769      322694           45  ...         bill_bbls  21519.0
8770      322694           45  ...             truck   3666.0

[8771 rows x 9 columns]

In [52]:
df3=df2[df2['Ticket_Item_Type']=='truck'] 
print(df3)

      invoice_id  hs_customer  ...  Ticket_Item_Type  details
22        337854           45  ...             truck   3666.0
24        337854           45  ...             truck   3769.0
26        337854           45  ...             truck   3666.0
31        337853           45  ...             truck   3685.0
38        337853           45  ...             truck   3685.0
...          ...          ...  ...               ...      ...
8742      325598           45  ...             truck   3643.0
8747      325598           45  ...             truck   3666.0
8754      322933           45  ...             truck   3666.0
8762      322695           45  ...             truck   3666.0
8770      322694           45  ...             truck   3666.0

[1058 rows x 9 columns]

In [53]:
count=df3['details'].value_counts()
print(count)

3666.0    126
3696.0    109
3697.0     99
3694.0     87
3699.0     77
         ...
3585.0      1
3774.0      1
3687.0      1
3693.0      1
3669.0      1
Name: details, Length: 61, dtype: int64