<a href="https://colab.research.google.com/github/nurfnick/Cantrell_Jackson/blob/master/Unique_truck_number.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pa
import numpy as np

In [15]:
from google.colab import files
uploaded = files.upload()

Saving hs_customer_5.csv to hs_customer_5.csv

In [0]:
import io
df2 = pa.read_csv(io.BytesIO(uploaded['hs_customer_5.csv']))# Dataset is now stored in a Pandas Dataframe

In [19]:
df2

        invoice_id  hs_customer  ...  ticket_item_type  details
0           195540            5  ...   job_description      NaN
1           195540            5  ...   job_description      NaN
2           180959            5  ...   job_description      NaN
3           180959            5  ...   job_description      NaN
4           180967            5  ...   job_description      NaN
...            ...          ...  ...               ...      ...
541778      330870            5  ...        bill_loads      1.0
541779      330870            5  ...        bill_loads      1.0
541780      330871            5  ...        bill_loads      1.0
541781      335588            5  ...        bill_loads      1.0
541782      335588            5  ...        bill_loads      1.0

[541783 rows x 9 columns]

In [20]:
df3=df2[df2['ticket_item_type']=='truck'] 
print(df3)

        invoice_id  hs_customer  ...  ticket_item_type  details
32009       180294            5  ...             truck    101.0
32010       180287            5  ...             truck    101.0
32011       180290            5  ...             truck    101.0
32012       180549            5  ...             truck    101.0
32013       180288            5  ...             truck    101.0
...            ...          ...  ...               ...      ...
402163      284100            5  ...             truck    980.0
402164      284100            5  ...             truck    980.0
402165      284100            5  ...             truck    980.0
402166      286973            5  ...             truck    980.0
402167      286972            5  ...             truck    980.0

[76495 rows x 9 columns]

In [21]:
count=df3['details'].value_counts()
print(count)

921.0     3346
1976.0    3211
1982.0    3197
1980.0    3182
1039.0    2836
1981.0    2627
1041.0    2623
1973.0    2614
956.0     2529
1974.0    2493
978.0     2440
977.0     2339
980.0     2312
1038.0    2224
979.0     2195
811.0     2170
955.0     2167
922.0     2165
219.0     2086
101.0     2040
1040.0    1982
1975.0    1916
415.0     1783
414.0     1778
810.0     1633
525.0     1360
218.0     1337
295.0     1337
39.0      1255
217.0     1240
526.0     1147
862.0     1064
808.0     1040
42.0       915
102.0      849
37.0       794
50.0       787
51.0       763
809.0      608
49.0       573
41.0       562
216.0      555
52.0       223
958.0       69
2112.0      40
3279.0      25
1301.0      11
22.0        10
44.0         8
43.0         7
46.0         6
47.0         6
45.0         5
1170.0       3
48.0         3
40.0         2
21.0         2
38.0         1
Name: details, dtype: int64